@charset "UTF-8";

@font-face {
  font-family: "pearicons";
  src:url("fonts/pearicons.eot");
  src:url("fonts/pearicons.eot?#iefix") format("embedded-opentype"),
    url("fonts/pearicons.woff") format("woff"),
    url("fonts/pearicons.ttf") format("truetype"),
    url("fonts/pearicons.svg#pearicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pearicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pear-"]:before,
[class*=" pear-"]:before {
  font-family: "pearicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pear-badge-tick-icon:before {
  content: "\61";
}
.pear-magnify-money-icon:before {
  content: "\62";
}
.pear-bone-bowl-icon:before {
  content: "\63";
}
.pear-people-in-circle-icon:before {
  content: "\64";
}
.pear-person-icon:before {
  content: "\65";
}
.pear-book-apple-icon:before {
  content: "\66";
}
.pear-plus-icon:before {
  content: "\67";
}
.pear-cash-money-icon:before {
  content: "\68";
}
.pear-certificate-icon:before {
  content: "\69";
}
.pear-profile-tag-icon:before {
  content: "\6a";
}
.pear-scales-icon:before {
  content: "\6b";
}
.pear-dog-bone-icon:before {
  content: "\6c";
}
.pear-dog-tail-waggle-icon:before {
  content: "\6d";
}
.pear-thumbs-up-icon:before {
  content: "\6e";
}
.pear-eye-icon:before {
  content: "\6f";
}
.pear-eye-with-tick-icon:before {
  content: "\70";
}
.pear-greyhound-icon:before {
  content: "\71";
}
.pear-hand-cog-icon:before {
  content: "\72";
}
.pear-heart-tick-icon:before {
  content: "\73";
}
.pear-house-sun-tree-icon:before {
  content: "\74";
}
