.bg- {
  &dark-transparent {
    background-color: rgba($black, 0.4);
  }
  &dust-transparent {
    background-color: rgba($dust, 0.5);
  }
  &tan {
    background-color: $tan ;
  }
  &navy {
    background-color: $navy ;
  }
}