$title-font:'Arial', sans-serif;
$styled-font:'Arial', serif;
$base-font:'Arial', sans-serif;
$primary-color:#4782d3;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#141414;
$info-color:#5bc0de;

