.btn {
  font-weight: normal;
  font-size: 1rem;
  padding: 1em 1.5em;
  &-primary {
    background-color: $navy;
    color: #fff;
    border: 2px solid ;
    border-left: none;
    box-shadow:none;
    .input-group & {
      border-width: 1px;
    }
    &:hover {
      background-color: #FFF;
      color: $navy;
      border: 2px solid $navy;
      border-left: none;
      box-shadow: none;
      .input-group & {
        border-width: 1px;
      }
    }
  }
  &-default {
    border-width:2px;
    color: $navy;
    border-color: $navy !important;
    &:hover {
      background-color: $navy;
      color: #FFF;
    }
  }
}