.footer {
  &, p, a, h1, h2, h3 {
    color: #FFF;
  }
  border-top: 10px solid $tan;

  a:hover {
    text-decoration: underline;
  }
  @extend .bg-navy;
  &__ {
    &btn {
      border-color: #FFF !important;
      text-transform: uppercase;
    }
    &column-title {
      font-size: 1.143rem;
      text-transform: uppercase;
      margin-bottom: 1.5em;
    }
    &chevron-list {
      @extend .list-unstyled;
      li:before {
        content: "\f054"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 0em; /* same as padding-left set on li */
        width: 1.5em; /* same as padding-left set on li */
        color: $tan;
      }
      li {
        @extend .my-2;
      }
    }
  }
  .contact-list-item li {
    color: #FFF;
  }
}
.back-to-top {
  @extend .bg-tan;
  i {
    color: #FFF;
  }
}