@import "buttons";
.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn{
  font-size:1rem;
}

.form-control {
  border-color: $navy;
}