.hero {
  font-size: 1.286rem;
  &__ {
    &bg- {
      &image {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
      }
      &dark-opacity {
        background-color: rgba(0,0,0,0.4)
      }
      &level1 {
        background-image: url("../images/hero-level1.jpg")
      }
    }
    &logo-link {

    }
    &lead {
      font-size: 1.3rem;
      line-height: 1.3;
      font-weight: bold;
      @media (min-width: 1700px ) {
        font-size: 2.214rem;
      }
      @media (min-width: 992px ) {
        font-size: 1.8rem;
      }
    }
    &home {
      .hero__logo-link {
        padding: 45px 45px 0;
      }
      &.hero__bg-image {
        background-position: left center;
        @media (min-width: 1400px ) {
          background-position: right center;
        }
        @media (min-width: 992px ) {
          background-position: center center;
        }
      }
      .hero__align-to-dog {
        margin: 2em 2em;
        height: 300px;
        overflow-y: scroll;
        @media (min-width: 656px ) {
          height: auto;
          overflow-y: auto;
          margin: 0 0em;
          flex: 0 0 90%;
          max-width: 90%;
        }
        @media (min-width: 992px ) {
          flex: 0 0 67%;
          max-width: 67%;
          margin-left: 10%;
        }
        @media (min-width: 1200px ) {
          flex: 0 0 62%;
          max-width: 62%;
          margin-left: 10%
        }
        @media (min-width: 1700px ) {
          flex: 0 0 65%;
          max-width: 65%;
          margin-left: 14%
        }
      }
    }
  }
}

.fullwidthbanner-container {

  position: relative;
  margin-bottom: 270px;
  @media (min-width: map-get($grid-breakpoints, sm) ) {
    padding-top: 350px;
    margin-bottom: 272px;
  }

  @media (min-width: map-get($grid-breakpoints, lg) ) {
    margin-bottom: 0;
    padding-top: 0;
    z-index: 100;
    position: relative;

  }
  &__ {
    &inner-bg-color {
      width: 100%;
      margin-bottom: -370px;
      @media (min-width: map-get($grid-breakpoints, sm) ) {

        margin-bottom: -236px;
      }
      @media (min-width: map-get($grid-breakpoints, lg) ) {
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

    }
  }
}
